.Header {
  background-color: #ede7dc;
  height: 50px;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 10%;
  margin-top: 10px;
}

.BtnLabel {
  font-size: larger;
  margin-left: 6px;
}

.OpenLabel {
  text-decoration: underline;
}

.FoodCourtContainer{
  margin: 20px;
   margin: 12px 20px 12px 20px;
  overflow: auto;
  padding: 12px 0px 0px 0px;
}

.BiggerContainer{
  max-height: 140px;
  overflow: auto;
}

.FoodCourtContainer::-webkit-scrollbar {
  display: none;
}