.User {
  padding: 0px 0px 10px 12px;
  border-bottom: 1px solid black;
}

.Credits {
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 6px 12px 6px 12px;
  margin: 0px 0px 0px 6px;
}

.Wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Price {
  margin: 0px 6px;
}

.UserWrapper {
  display: flex;
  align-items: center;
}

.LogInNr{
    margin: 0px 0px 0px 6px;
    text-decoration: underline;
}

.UserWrapper {
  position: relative;
  display: flex;
  align-items: center;
}



.DropdownMenu {
  position: absolute;
  top: 34px;
  left: 0;
  margin-left: 12px;
  background-color: #CCAFA5;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 100;
}

.ButtonContent{
  font-size: 14px;
}