.AbholbereitContainer {
  margin: 12px 12px 6px 6px;
}

.AbholbereitTitleWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px 6px 0px;
}

.AbholbereitTitle {
  margin-left: 6px;
}

.OrderWrapper {
  margin: 0px 20px;
  max-height: 90px;
  padding: 6px 12px 0px 0px;
  overflow: auto;
}

.OrderWrapper::-webkit-scrollbar {
  display: none;
}